@font-face {
  font-family: 'MyFont';
  src: url('fonts/PPNeueMontreal-Bold.woff2') format('woff2');
  font-display: swap; /* Improves loading performance */
  font-weight: bold;
}
@font-face {
  font-family: 'MyFont1';
  src: url('fonts/PPNeueMontreal-Book.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: 'MyFont2';
  src: url('fonts/PPNeueMontreal-SemiBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'MyFont3';
  src: url('fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'MyFont4';
  src: url('fonts/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}


@font-face {
  font-family: 'MyFont5';
  src: url('fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}





#faculty-header {
    font-size: 0.1rem;
    text-align: center;
    margin-top: 90px;
    color: #000000;
    font-family: 'MyFont3';
}

  
  /* Container */
#container {
    position: relative; /* required for absolute children */
    background-color: #ffffff;
    width: 75%;
    height: 70vh;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 50px;
    box-sizing: border-box;
   
    z-index: 0;
}

/* Faculty blocks */
#suryasir, #deepaksir {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity 0.6s ease;
}

/* Visibility control */
.visible {
    opacity: 1;
    z-index: 1;
}

.hidden {
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

/* Images */
#suryasir img, #deepaksir img {
    width: 50%;
    height: auto;
    margin-top: 4%;
}

/* Text */
#suryasir h2 {
    position: absolute;       /* make it absolute inside container */
    bottom: -15%;
                /* place it above bottom of container */
    left: 50%;                /* center horizontally */
    transform: translateX(-50%);
    font-family: 'MyFont3';
    color: #000;
    font-size: 2.5rem;
    z-index: 2;               /* must be above image */
    text-align: center;
}

#deepaksir h2{
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'MyFont3';
    color: #000;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
}


/* Arrow button */
.arrow-btn {
    position: absolute;
     left: -2%;              
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 5;

}

.arrow-btn:hover {
    background: black;
    color: white;
}

/* Faculty header */
#faculty-header {
    font-size:1.0rem;
    text-align: center;
    margin-top: 5rem;
    color: #000;
    font-family: 'MyFont3';
}



/* Responsive images */
@media (max-width: 768px) {
    #suryasir img, #deepaksir img {
        width: 90%;
        margin-top: 12%;
        margin-left: 1%;
    }

    #suryasir h2 {
        font-size: 2.2rem;
    }

    .arrow-btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
        left: -5%;
    }
}

@media (min-width: 992px) {
    #suryasir img, #deepaksir img {
        width: 60%;
    }

    #suryasir h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1400px) {
    #suryasir img, #deepaksir img {
        width: 40%;
    }

    #suryasir h2 {
        font-size: 2.4rem;
    }
}
